.body_content {
    background-color: yellowgreen;
    width: 1280px;
    height: 6785px;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1184px;
    height: 52px;
    margin: 28px 48px 0 48px;
}

.page {
    max-width: 1280px;
    min-width: 320px;
}

.header_logo {
    background-image: url(./img/__logo.svg);
    width: 176px;
    height: 52px;
    background-size: 176px 52px;
}

.header_lang {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    text-decoration-line: underline;
}

.lead {
    width: 1280px;
    height: 1005px;
}

.lead_logo {
    color: white;
}

.__title {
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 96px;
    font-style: normal;
    font-weight: 900;
    line-height: 100px;
    display: flex;
    width: 720px;
    height: 200px;
    flex-direction: column;
    flex-shrink: 0;
    margin: auto;
}

.__subtitle {
    color: white;
}
