.lead__title {
    color: white;
    width: 720px;
    height: 200px;
    margin: auto;
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
    letter-spacing: 0em;
    text-align: center;
}