.places__kola {
    width: 984px;
    height: 584px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: start;
    margin: 0;
    font-family: Inter;   
}