.places__kola {
    width: 984px;
    height: 660px;
    flex-shrink: 0;
    margin: 92px auto 0 auto;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
}