.places__altai__website__URL {
    width: 456px;
    height: 12px;
    flex-shrink: 0;
    color: #AAA;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    letter-spacing: 2px;
    margin: 0;
}