.cover {
    margin: 92px auto;
    width: 1184px;
    height: 740px;
    flex-shrink: 0;
    background-image: url('../../img/cover/__image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 1;
}

.cover::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    background-color: #2A2C2F;
    opacity: 0.2;
    transition: opacity 1s linear;
    z-index: -1;
    top: 0;
    left: 0;
}
