.places__altai__text__par-1 {
    width: 484px;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 163%;
    margin: 48px 0 0 40px;
}